<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="log-path">
            logs
        </Property>
        <Property name="backup-log-path">
            logs/backup
        </Property>
    </Properties>
    <Appenders>
        <RollingFile name="system-error"
                     fileName="D://bell-system-error.log"
                     filePattern="D://bell-system-error-%d{yyyy-MMM-dd}-%i.log.gz"
                     immediateFlush="true" append="true">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%t] %c{10} [%L] - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="system-debug"
                     fileName="D://bell-system-debug.log"
                     filePattern="D://bell-system-debug-%d{yyyy-MMM-dd}-%i.log.gz"
                     immediateFlush="true" append="true">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%t] %c{10} [%L] - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="system-info"
                     fileName="D://bell-system-info.log"
                     filePattern="D://bell-system-info-%d{yyyy-MMM-dd}-%i.log.gz"
                     immediateFlush="true" append="true">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%t] %c{10} [%L] - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="system-trace"
                     fileName="D://bell-system-trace.log"
                     filePattern="D://bell-system-trace-%d{yyyy-MMM-dd}-%i.log.gz"
                     immediateFlush="true" append="true">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%t] %c{10} [%L] - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="50 M"/>
            </Policies>
        </RollingFile>
        ​
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%T] %c{1} -%M %c{10} - %msg%n}{FATAL=red, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=white bold, TRACE=gray}"/>
        </Console>
    </Appenders>
    ​
    <Loggers>
        <Logger name="com.zaxxer.hikari" level="error"/>
        <Root level="All">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="system-error" level="error"/>
            <AppenderRef ref="system-info" level="info"/>
            <AppenderRef ref="system-debug" level="debug"/>
            <AppenderRef ref="system-trace" level="trace"/>
        </Root>
        ​
    </Loggers>
    ​
</Configuration>